<title>About Us</title>
<div class ="page-header">
  <h1>{Sassy Hash}
  <small>Smart and Sexy</small></h1>
</div>

<div class = "lead">
  <p> 3 things I strive to be.
  Look Fabulous. Stay On a Budget. Be a Good Person. </p>

  <p><strong> They're not mutually exclusive.<strong></p>

</div>

